.section {
    margin-bottom: 40px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 4.8rem;
    text-align: center;
    background-color: var(--shadow-color);
}

.section-col {
    max-width: calc((100% - 60px)/3)
}

.section-table td {
    padding-right: 30px;
    padding-bottom: 10px;
    vertical-align: top;
}